@{
    ViewData["Title"] = "Home";
}

<div class="container">
        <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">PalindormReser: A Coding Project</h1>
                <h4 class="lead">
                    Let's reverse an inputted string and check whether it is the same when reversed, AKA a Palindrome!*
                </h4>
                <h6 class="pt-2">* Palindrome - a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run. </h6>

                <ul class="fa-ul pt-2 checklist">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core MVC Fundamentals</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core Loops</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core Methods</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core Objects</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core If/Then/Else</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ASP.NET Core Boolean Logic</li>
                </ul>
                <div>
                    <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="Reverse">Try It Out!</a>
                </div>
                <h5 class="fw-bold mt-5">
                    <div class="d-flex">
                        <div class="row">
                            <div class="col"><img src="~/img/c-sharp-c-seeklogo.com.svg" alt="C# Icon" class="img-fluid center-block d-block mx-auto" width="67" /></div>
                            <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                            <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                            <div class="col"><i class="fab fa-css3-alt fa-4x css3icon"></i></div>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="col">
                <img src="~/img/PalindromReser-logo.png" alt="App Logo" class="img-fluid center-block d-block mx-auto">
            </div>
        </div>
    </div>
